

.job-item{
  margin: 25px 0;
}

.avatar-image{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 12px;
}

.job-number{
  font-weight: bold;
  opacity: 0.5;
}

.jobIdentity, .jobSummary, .jobFooter{
  padding: 3px 0px
}

.jobFooter {
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  font-size: 12px;
}

.fa-icon{
  font-size: 14px;
  margin-right: 5px;
}

.j-i-0 {
  border-left: 4px solid #cccccc;
  height: fit-content;
  max-height: 25vh;
}

.j-i-1 {
  border-left: 4px solid #af1b38;
}

.j-i-2 {
  border-left: 4px solid #0a40a8;
}

.j-i-3 {
  border-left: 4px solid #01a34c;
}

.j-i-4 {
  border-left: 4px solid #b17c1b;
}

.xblinker {
  display: inline-block;
  position: absolute !important;
  top: 5px !important;
  right: 10px !important;
  float: right;
}

.truncate {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}